# ignore compilation related directories in the root of the project
/build
/dcm-distros
/dist
/lib
/.project

/target/
/schemas/
.DS_Store
.idea/
src/datapower-configuration-manager.iml
src/main/main.iml
